<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--link href="./css/authheader.css" rel="stylesheet"-->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
</head>
<style type="text/css">
	* {
	    margin: 0;
	    padding: 0;
	}
	nav {
	    display: flex;
	    /* align-content: center; */
	    justify-content: center;
	    align-items: center
	}
	nav ul {
	    display: flex;
	    flex-direction: row;
	    list-style-type: none;
	    /*margin-left: 20px;*/
	}
	nav ul li {
	    margin-left: 40px;
	}
	nav a{
	    text-decoration: none;
	    font-family: 'Source Serif Pro', serif;   
	    font-weight: 400;
	    color: black;
	}
	.logo{
	    margin: auto;
	    padding: 2rem;
	}
	.logo img{
	    height: 65px;
	}
	/* .hero-image img{
	        width: 95%;
	} */
	.nav-items{
	    padding: 2rem;
	}
	.nav-items ul{
	    list-style-type: none;
	}
	.nav-items ul li:nth-of-type(2) {
	    padding-bottom: 7px;
	    border-bottom: 4px solid blue;
	}
	.nav-btns {
	    display: flex;
	    flex-direction: row;
	    position: relative;
	    left: 500px;
	}
	#nav-btn li a{
	    padding: 20px 30px;
	    background-color: black;
	    color: #fff;
	}
	/* .nav-items ul li:nth-of-type(5){
	    background-color: antiquewhite;
	    padding: 0.5rem;
	} 
	.nav-items ul > li:nth-of-type(2){
	    color: red;
	} */

	/*Media Queries for Tablets*/

	/*Media Queries for Mobile Phones*/

</style>
<body>
	<header>
        <nav class="navbar">
          <a href="/" class="logo"><img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1665660039/Keenya/Group_10.png" class="logo-img"></a>
        </nav>
    </header>