<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/dxjqr24gm/image/upload/v1680475228/Keenya/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/dxjqr24gm/image/upload/v1680475228/Keenya/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/dxjqr24gm/image/upload/v1680475228/Keenya/favicons/favicon-16x16.png">
  <link rel="manifest" href="https://res.cloudinary.com/dxjqr24gm/raw/upload/v1680473946/Keenya/favicons/site.webmanifest">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script src="https://kit.fontawesome.com/c41013f84d.js" crossorigin="anonymous"></script>
  <link href="/css/header.css" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900&family=Manrope:wght@200;300;400;500;600;700&family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">
	<!--link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap" rel="stylesheet"-->
  <script type="application/javascript" src="https://connect.withmono.com/connect.js"></script>
</head>
<body>
	<header>
        <nav class="navbar" id="navbar">
          <!--span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
          </span-->
          <a href="./" class="logo"><img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1665660039/Keenya/Group_10.png" class="logo-img"></a>
          <ul class="main-nav" id="js-menu">
            <li><a href="./new_loan" class="nav-links active-btn">Lend</a></li>
            <li><a href="./request_loan" class="nav-links">Request Loan</a></li>
            <li><a href="./feedback" class="nav-links">Share Feedback</a></li>
            <% if (user) { %>
            <div class="dropdown">
              <!--img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1667036676/Keenya/9c581c2557b890ab78a6da561f0d0c8a.jpg"-->
              <li class="dropbtn-wrapper" id="drop-content-toggle" onclick="userDropToggle()">
                  <h5 class="dropbtn"><%= user.name.split(' ')[0] %></h5>
                  <!--h5 class="dropbtn">Danmulusigh</h5-->
                  <i class="fa fa-caret-down"></i>
              </li>
               <div class="dropdown-content" id="drop-content">
                    <a href="/auth/logout" style="">Sign Out</a>
                </div>
            </div> 
            <% } else { %>
                <div class="nav-btns" id="nav-btn">
                  <li><a href="/signin" class="nav-links">Sign In</a></li>
                  <li><a href="/signup" class="nav-links create-btn">Get Started</a></li>
                </div> 
            <% } %>  
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
          </ul>
          <a href="javascript:void(0);" class="icon" onclick="hamburgerNav()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>          
          </a>    
        </nav>
    </header>

    <script type="text/javascript">
      
      /*Hamburger Toggler*/
      function hamburgerNav() {
        var x = document.getElementById("js-menu");
        var y = document.getElementById("navbar");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else { x.style.display = "block"; }
      }

      /*User Drop Toggler*/
      function userDropToggle() {
        var x = document.getElementById("drop-content-toggle");
        var y = document.getElementById("drop-content");
        if (y.style.display === "none") { 
          y.style.display = "block" 
        } else { y.style.display = "none" }
      }
    </script>