<%- include('partials/header'); -%>
<title>Keenya | Get your money</title>
<link href="./css/landing.css" rel="stylesheet" type="text/css">

    <!--div>
		<h1 align="center">Welcome to test your app</h1>
        <h5 align="center">Where you test critical endpoints</h5>
        <h3>Functions you can test now</h3>
		<ul>
            <li><a href="auth/users" target="_blank">See Users</a></li>  
            <li><a href="/signup">Create Account</a></li>  
            <li><a href="/signin">Login</a></li>  
            <li><a href="/recover_password">Recover Password</a></li>    
            <li><a href="/new_loan">New Loan</a></li>    
        </ul>
	</div-->
    <section>
        <div class="hero-container">
            <div class="hero-wrapper">
                <div class="hero-txt">
                    <h1>TRUST, BUT VERIFY</h1>
                    <p>Make sure the people you extend credit to are able and financially capable of repaying their debt.</p>
                    <div class="hero-txt-btn">
                        <a href="/new_loan">Get Started</a>
                        <a href="/request_loan" id="request">Request a Loan</a>
                    </div>
                </div>
                <div class="hero-media">
                    <div id="wrap_video">             
                        <video id="player" loop muted autoplay>
                            <source src="https://res.cloudinary.com/dxjqr24gm/video/upload/v1666336037/Keenya/pexels-anna-nekrashevich-6794403.mp4" type="video/mp4"/>
                            Your browser does not support this streaming content.
                        </video>
                        <div id="video_overlays">
                            <img src="http://images.apple.com/v/ios/carplay/a/images/carplay_icon.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
