<%- include('partials/header'); -%>
<title>Keenya | Get your money</title>
<link href="./css/landing.css" rel="stylesheet" type="text/css">
      <% if (message.length > 0) { %>
        <div class="flash-msg">   
            <div class="alert success">
                <input type="checkbox" id="alert2"/>
                <label class="close" title="close" for="alert2">
                  <i class="icon-remove"></i>
                  <!--p class="icon-remove"><b>X</b></p-->
                </label>
                <p class="inner" align="center">
                    <%= message %>
                </p>
            </div>
        </div>    
        <% } %>
    <section class="sect-1">
        <div class="hero-container">
            <div class="hero-wrapper">
                <div class="hero-txt">
                    <h1>TRUST, BUT VERIFY</h1>
                    <p>Make sure the people you extend credit to are able and financially capable of repaying their debt.</p>
                    <div class="hero-txt-btn">
                        <a href="/new_loan"><b>Get Started</b></a>
                        <a href="/request_loan" id="request"><b>Request a Loan</b></a>
                    </div>
                </div>
                <div class="hero-media">
                    <div id="wrap_video">             
                        <video id="player" loop muted autoplay>
                            <source src="https://res.cloudinary.com/dxjqr24gm/video/upload/f_auto:video,q_auto/v1/Keenya/Stock%20images/pexels-anna-nekrashevich-6794403" type="video/mp4"/>
                            Your browser does not support this streaming content.
                        </video>
                        <div id="video_overlays">
                            <img src="http://images.apple.com/v/ios/carplay/a/images/carplay_icon.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sect-2">
        <div class="sect-2-cntn">
            <div class="sect-2-img">
                <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/f_auto,q_auto/v1/Keenya/Stock%20images/thought-catalog-23KdVfc395A-unsplash" alt="friends" width="600px" height="">
            </div>
            <div class="sect-2-txt">
                <h3>Don’t lose your people over money</h3>
                <p>With our soon to be live direct-debit solution RepayEasy, we will enable you automate and simplify the process of collecting payments from your borrowers, making credit management effortless and efficient for you.</p>
                <h5>Coming Soon!</h5>
            </div>
        </div>
    </section>
    <section class="sect-3">
        <div class="sect-3-cntn">
            <div class="sect-3-txt">
                <h3>Providing solutions that enable you extend credit to your people without worry</h3>
            </div>
            <div class="sect-3-card-cntn">
                <div class="sect-3-card">
                    <div class="sect-3-card-cntnt-wrapper">
                        <div class="sect-3-card-icon">
                            <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/f_auto,q_auto/v1/Keenya/Icons/Group_11_1" alt="icon">
                        </div>
                        <div class="sect-3-card-head-txt">
                            <h5>Reliable</h5>
                        </div>
                        <div class="sect-3-card-body-txt">
                            <p>Comprehensive customer data and high level risk-assessment algorithm to determine creditworthiness.</p>
                        </div>
                    </div>
                </div>
                <div class="sect-3-card">
                    <div class="sect-3-card-cntnt-wrapper">
                        <div class="sect-3-card-icon">
                            <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/f_auto,q_auto/v1/Keenya/Icons/Group_8" alt="icon">
                        </div>
                        <div class="sect-3-card-head-txt">
                            <h5>Secured</h5>
                        </div>
                        <div class="sect-3-card-body-txt">
                            <p>Data infrastructure with bank-grade, battle-tested data security and protection.</p>
                        </div>
                    </div>
                </div>
                <div class="sect-3-card">
                    <div class="sect-3-card-cntnt-wrapper">
                        <div class="sect-3-card-icon">
                            <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/f_auto,q_auto/v1/Keenya/Icons/Group_12" alt="icon">
                        </div>
                        <div class="sect-3-card-head-txt">
                            <h5>Fast</h5>
                        </div>
                        <div class="sect-3-card-body-txt">
                            <p>With just a form, and two willing and present parties your loan arrangement can be set up in less than 5 minutes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sect-4">
        <div class="sect-4-cntn">
            <div class="sect-4-txt">
                <h4>Our Infra Partners</h4>
            </div>
            <div class="sect-4-img-cntn">
                <div class="sect-4-img">
                    <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1688044575/Keenya/Logos/lendsqr.png" alt="partner">
                </div>
                <div class="sect-4-img">
                    <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1688044575/Keenya/Logos/Paystack.png" alt="partner">
                </div>
                <div class="sect-4-img">
                    <img src="https://res.cloudinary.com/dxjqr24gm/image/upload/v1688044575/Keenya/Logos/Mono.png" alt="partner">
                </div>
            </div>
        </div>
    </section>
    <section class="sect-5">
        <div class="sect-5-cntn">
            <div class="sect-5-txt">
                <h2>Get started with your loan arrangement now</h2>
            </div>
            <div class="sect-5-btns">
                <a href="/new_loan"><b>Get Started</b></a>
                <a href="/request_loan"><b>Request a Loan</b></a>
            </div>
        </div>
    </section>
    <%- include('partials/footer'); -%>
</body>
</html>
<script type="text/javascript">
    const log = console.log;
</script>    