<%- include('partials/header'); -%>
<title>Keenya | Get your money</title>
<link href="./css/landing.css" rel="stylesheet" type="text/css">
      <% if (message.length > 0) { %>
        <div class="flash-msg">   
            <div class="alert success">
                <input type="checkbox" id="alert2"/>
                <label class="close" title="close" for="alert2">
                  <i class="icon-remove"></i>
                  <!--p class="icon-remove"><b>X</b></p-->
                </label>
                <p class="inner" align="center">
                    <%= message %>
                </p>
            </div>
        </div>    
        <% } %>
    <section>
        <div class="hero-container">
            <div class="hero-wrapper">
                <div class="hero-txt">
                    <h1>TRUST, BUT VERIFY</h1>
                    <p>Make sure the people you extend credit to are able and financially capable of repaying their debt.</p>
                    <div class="hero-txt-btn">
                        <a href="/new_loan">Get Started</a>
                        <a href="/request_loan" id="request">Request a Loan</a>
                    </div>
                </div>
                <div class="hero-media">
                    <div id="wrap_video">             
                        <video id="player" loop muted autoplay>
                            <source src="https://res.cloudinary.com/dxjqr24gm/video/upload/v1666336037/Keenya/pexels-anna-nekrashevich-6794403.mp4" type="video/mp4"/>
                            Your browser does not support this streaming content.
                        </video>
                        <div id="video_overlays">
                            <img src="http://images.apple.com/v/ios/carplay/a/images/carplay_icon.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
<script type="text/javascript">
    const log = console.log;
</script>    