<%- include('partials/authheader'); -%>
<title>Reset your password</title>
<link href="./css/forgotpassword.css" rel="stylesheet" type="text/css">
	<section>
    	<div class="form-container">
    		<div id="form-wrapper" class="card">
    			<h4>Request Password Recovery</h4>
    			<form>
    				<label for="email" class="form-items">
    					<span class="form-title">Email Address</span>
    					<input type="email" name="email" id="email" class="input-field" placeholder="Enter your email address" required>
						<div id="email-error" class="email error"></div><br>
    				</label><br>
    				<div class="btn-wrapper">
    					<button type="submit">Recover Password</button>	
    				</div>
    			</form>
    		</div>
    	</div>
    </section>
</body>
<script type="text/javascript">
	const log = console.log;
	const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
  	
    emailError.style.display = 'none';

  	form.addEventListener('submit', async (e) => {
    	e.preventDefault();


    	// reset errors
    	emailError.textContent = '';

    	// get values
    	const email = form.email.value;

    	try {
      		const res = await fetch('auth/password-reset', { 
        		method: 'POST', 
        		body: JSON.stringify({ email }),
        		headers: {'Content-Type': 'application/json'}
      		});

      		const data = await res.json();
      		console.log(data);

      		if (data.errors) {
        		emailError.textContent = data.errors.email;
    			emailError.style.display = 'block';
      		}

			if (data.user) {
       	 		location.assign('/signin');
      		}

    	}
    	catch (err) {
      		console.log(err);
      		throw err;
    	}

  	});
</script>
</html>
