@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
body {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(231,233,229,1) 100%);
	/*font-family: 'Overpass', sans-serif;*/
	font-family: 'Inter', sans-serif;
    /*height: 100vh;*/
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	/*overflow-x: hidden;
	justify-content: center;
	align-items: center;*/
}
a {
		text-decoration: none;
}
section {
	max-width: 100%;
	padding: 45px 0 90px 2rem;
}
.sect-1 {
	margin: 30px 0 0 0;
	padding-bottom: 68px;
}
.hero-wrapper {
	display: flex;
	/*justify-content: space-between;*/
}
.hero-txt {
	/*background-color: blue;*/
}
.hero-txt h1 {
	font-size: 85px;
	font-weight: 900;
	/*background-color: orangered;*/
	padding: 35px 0 10px 0;
}
.hero-txt p {
	width: 84%;
}
.hero-txt-btn {
	padding: 40px 0 0 0;
}
.hero-txt a {
	background-color: black;
	padding: 15px 30px;
	text-align: center;
	/*margin-top: 2em;*/
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	font-size: 15px;
}
.hero-txt a:nth-of-type(2){
    margin-left: 1.5em;
}
.hero-media {
	position: relative;
	background-color: ;
	width: 50%;
}
#wrap_video video {
	width: 56%;
	position: relative;
	left: 220px;
	bottom: 66px;
	border-radius: 3px;
/*  position: absolute;
	top: 0;
	left: 0;*/
}
#video_overlays {
    position: absolute;
    top: -70px;
    left: 220px;
    width:56%;
    height: 100%;
    z-index: 100;
	/*background-color: rgba(255,255,255,.5);*/
	background-color: rgba(55,155,155,0);
}

/* Flash Message */
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
.flash-msg {
	margin: 0 0 1em 0;
}
.alert {
	width: 40%;
	display: block;
	margin: auto;
}
.alert .inner {
  display: block;
  padding: 12px;
  margin: 0 6px;
  border-radius: 3px;
  border: 1px solid rgb(180,180,180);
  background-color: rgb(212,212,212);
}

.alert .close {
  float: right;
  padding-top: 5px;
  margin: 3px 12px 0px 0px;
  cursor: pointer;
}
.icon-remove {
	width: 90%;
	font-size: 13px;
}
.alert .inner,.alert .close {
  color: rgb(88,88,88);
}

.alert input {
  display: none;
}

.alert input:checked ~ * {
  animation-name: dismiss,hide;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0s,100ms;
}

.alert.success .inner {
  border: 1px solid rgb(214,233,198);
  background-color: rgb(223,240,216);
}

.alert.success .inner,.alert.success .close {
	font-size: 13px;
  color: rgb(70,136,71);
}

@keyframes dismiss {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
    font-size: 0.1px;
    transform: scale(0);
  }
}

@keyframes hide {
  100% {
    height: 0px;
    width: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
}

#video_overlays > img {
	display: none;
}
#player{
    	
}
.sect-2, .sect-5, footer {
	background-color: black;
	color: white;
}
.sect-2-cntn {
	display: flex;
	flex-direction: row;
	/*padding: 30px 0px 90px 0px;*/
}
.sect-2-img {
	width: 90%;
}
.sect-2-img img {
	border-radius: 3px;
}
.sect-2-txt {
	width: 100%;
	padding: 60px 0px 0px 20px;
}
.sect-2-txt h3 {
	width: 85%;
	font-size: 40px;
	/*line-height: 65px;*/
}
.sect-2-txt p {
	width: 70%;
	/*line-height: 45px;*/
	text-align: justify;
}
.sect-2-txt h5 {
	padding: 20px 0px 0px 0px;
	color: #92E3A9;
	font-size: 30px;
}
.sect-3-cntn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 0px 0px 0px;
}
.sect-3-txt {
	display: flex;
	justify-content: center;
}
.sect-3-txt h3 {
	width: 85%;
	font-size: 43px;
	text-align: center;
}
.sect-3-card-cntn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 50px 0px 0px 0px;
	/*border: 1px solid red;*/

}
.sect-3-card {
	border: 1.5px solid #D9D9D9;
	border-radius: 3px;
	width: 20.5%;
	min-height: 245px;
	margin-left: 25px;
}
.sect-3-card-cntnt-wrapper {
	padding: 20px 20px 0px 20px;
}
.sect-3-card-icon img {
	width: 30%;
}
.sect-3-card-head-txt {
	font-size: 22px;
}
.sect-3-card-body-txt {
	font-size: 14px;
	line-height: 25px;
	color: rgba(0, 0, 0, 0.7);
	text-align: left;
}
.sect-4-txt h4 {
	font-weight: 600;
	font-size: 35px;
}
.sect-4-img-cntn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.sect-4-img {
	margin-left: 125px;
}
.sect-4-img-cntn img {
	width: 250px;
}
.sect-5 {
	max-width: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 0px 90px 0px;
}
.sect-5-cntn {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sect-5-txt {
	display: flex;
	justify-content: center;
}
.sect-5-txt h2 {
	font-size: 35px;
	text-align: center;
	width: 95%;
	margin-bottom: 30px;
}
.sect-5-btns {
	padding: 28px 0px 0px 0px;
}
.sect-5-btns a {
	background-color: white;
	padding: 15px 30px;
	margin-top: 5em;
	color: black;
	border-radius: 4px;
	font-size: 15px;
}
.sect-5-btns a:nth-of-type(2) {
  margin-left: 1.5em;
}
.footdiv-2 ul li a {
	color: white;
}
/*Media Queries for Tablets Vertical View*/
@media only screen and (max-width: 1050px) {
	body {
		background: white;
		overflow-y: auto;
	}
	section {
		/*background-color: white;
        max-width: 80%;*/
        margin: auto;
    }
    .sect-1 {
    	background-color: white;
    }
    .hero-container {
    	/*background-color: grey;*/
    	display: flex;
    	padding: 2.3em 0;
    	justify-content: center;
   }
	.hero-wrapper {
		max-width: 100%;
		/*background-color: orange;*/
		flex-direction: column;
		justify-content: center;
	}
	.hero-txt {
		/*background-color: blue;*/
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 100%;
	}
	.hero-txt h1 {
		font-size: 90px;
		width: 110%;
		text-align: center;
	}
	.hero-txt p {
		width: 87%;
		font-size: 160%;
		text-align: center;
	}
	.hero-txt-btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.hero-txt a {
		padding: 25px 35px;
		margin-top: 1em;
		font-size: 120%;
	}
	#request {
		padding: 25px 65px;
		width: 53%;
		margin-left: 0;
	}	
	.hero-media {
		display: none;
	}
	.flash-msg {
		margin-top: 0;
	}
	.alert {
		width: 80%;
	}
	.sect-2 {
		max-width: 100%;
		width: 110%;
	}
	.sect-2-cntn {
		flex-direction: column;
	}
	.sect-2-img {
		/*width: 60%;*/
	}
	.sect-2-img img {
		width: 450px;
	}
	.sect-2-txt {
		padding: 20px 0px 0px 0px;
	}
	.sect-2-txt h3 {
		padding-bottom: 8px;
		font-size: 32px;
	}
	.sect-2-txt p {
		font-size: 15px;
	}
	.sect-2-txt h5 {
		font-size: 25px;
	}
	.sect-3-cntn {
		padding: 30px 0px 0px 0px;*
	}
	.sect-3-txt {
	}
	.sect-3-txt h3 {
		font-size: 32px;
	}
	.sect-3-card-cntn {
		flex-direction: ;
		padding: 50px 0px 0px 0px;*
	}
	.sect-3-card {
		width: 25.5%;
		min-height: 200px;
	}
	.sect-3-card-cntnt-wrapper {
		padding: 20px 20px 0px 20px;*
	}
	.sect-3-card-icon img {
	}
	.sect-3-card-head-txt {
		font-size: 19px;
	}
	.sect-3-card-body-txt {
		line-height: 17px;
		font-size: 12px;
	}
	.sect-4 {
		max-width: 100%;
		width: 100%;
		background-color: ;
	}
	.sect-4-txt h4 {
		font-size: 30px;
	}
	.sect-4-img-cntn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.sect-4-img {
		margin-left: 80px;
	}
	.sect-4-img-cntn img {
		width: 150px;
	}
	.sect-5 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 60px 0px 90px 0px;
	}
	.sect-5-cntn {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.sect-5-txt {
		display: flex;
		justify-content: center;
	}
	.sect-5-txt h2 {
		font-size: 35px;
		text-align: center;
		width: 95%;
		margin-bottom: 30px;
	}
	.sect-5-btns {
		padding: 28px 0px 0px 0px;
	}
	.sect-5-btns a {
		background-color: white;
		padding: 15px 30px;
		margin-top: 5em;
		color: black;
		border-radius: 4px;
		font-size: 15px;
	}
	.sect-5-btns a:nth-of-type(2) {
	  margin-left: 1.5em;
	}

}


/* Media Queries for Mobile Phones */
@media only screen and (max-width: 450px) {
	body {
		overflow-y: auto;
	}
	section {
		padding: 45px 0 45px 0;
	}
	.hero-txt h1 {
		width: 107%;
		font-size: 50px;
	}
	.hero-txt p {
		width: 90%;
		font-size: 122%;
	}
	.hero-txt a {
		padding: 20px 30px;
		font-size: 121%;
	}
	#request {
		padding: 20px 65px;
		width: 53%;
	}
	.flash-msg {
		margin-top: 0;
	}
	.alert {
		width: 80%;
	}
	.sect-2 {
		width: 100%;
	}
	.sect-2-cntn {
		padding-left: 1em;
	}
	.sect-2-img {
		display: none;
	}
	.sect-2-txt {
		padding: 20px 0px 0px 0px;
	}
	.sect-2-txt h3 {
		text-align: ;
		padding-bottom: 10px;
		font-size: 30px;
	}
	.sect-2-txt p {
		text-align: left;
		font-size: 12px;
		width: 95%;
		line-height: 20px;
	}
	.sect-2-txt h5 {
		font-size: 22px;
	}
	.sect-3-cntn {
		padding: 30px 0px 0px 0px;*
	}
	.sect-3-txt {
	}
	.sect-3-txt h3 {
		font-size: 28px;
	}
	.sect-3-card-cntn {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 50px 0px 0px 0px;*
	}
	.sect-3-card {
		width: 45.5%;
		min-height: 200px;
		margin-bottom: 1.5em;
	}
	.sect-3-card-cntnt-wrapper {
	}
	.sect-3-card-icon img {
	}
	.sect-3-card-head-txt {
		font-size: 17px;
	}
	.sect-3-card-body-txt {
		line-height: 17px;*
		font-size: 11px;
	}
	.sect-4 {
		background-color: ;
	}
	.sect-4-txt h4 {
		text-align: center;
		font-size: 27px;
	}
	.sect-4-img-cntn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.sect-4-img {
		margin: 0;
		padding: 0;
	}
	.sect-4-img-cntn img {
		width: 110px;
	}
	.sect-5 {
		padding: 60px 0px 90px 0px;
	}
	.sect-5-cntn {

	}
	.sect-5-txt {
		display: flex;
		justify-content: center;
	}
	.sect-5-txt h2 {
		font-size: 28px;
		width: 85%;
	}
	.sect-5-btns {
		display: flex;
		flex-direction: column;
		padding: 0px 0px 0px 0px;
	}
	.sect-5-btns a {
		background-color: white;
		padding: 15px 30px;
		margin-top: 1em;
		color: black;
		border-radius: 4px;
		font-size: 15px;
	}
	.sect-5-btns a:nth-of-type(2) {
	  margin-left: 0;
	}
}