@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
body {
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(231,233,229,1) 100%);
	/*font-family: 'Overpass', sans-serif;*/
	font-family: 'Inter', sans-serif;
    /*height: 100vh;*/
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	/*overflow-x: hidden;
	justify-content: center;
	align-items: center;*/
}
section {
	max-width: 100%;
	padding: 45px 0 0 2rem;
}
.hero-wrapper {
	display: flex;
	/*justify-content: space-between;*/
}
.hero-txt {
	/*background-color: blue;*/
}
.hero-txt h1 {
	font-size: 85px;
	font-weight: 900;
	/*background-color: orangered;*/
	padding: 35px 0 10px 0;
}
.hero-txt p {
	width: 84%;
}
.hero-txt-btn {
	padding: 40px 0 0 0;
}
.hero-txt a {
	background-color: black;
	padding: 15px 30px;
	text-align: center;
	/*margin-top: 2em;*/
	text-decoration: none;
	color: #fff;
	border-radius: 4px;
	font-size: 15px;
}
.hero-txt a:nth-of-type(2){
    margin-left: 1.5em;
}
.hero-media {
	position: relative;
	background-color: ;
	width: 50%;
}
#wrap_video video {
	width: 56%;
	position: relative;
	left: 220px;
	bottom: 66px;
/*  position: absolute;
	top: 0;
	left: 0;*/
}
#video_overlays {
    position: absolute;
    top: -70px;
    left: 220px;
    width:56%;
    height: 100%;
    z-index: 100;
	/*background-color: rgba(255,255,255,.5);*/
	background-color: rgba(55,155,155,0);
}

/* Flash Message */
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);
.flash-msg {
	margin: 0 0 1em 0;
}
.alert {
	width: 40%;
	display: block;
	margin: auto;
}
.alert .inner {
  display: block;
  padding: 12px;
  margin: 0 6px;
  border-radius: 3px;
  border: 1px solid rgb(180,180,180);
  background-color: rgb(212,212,212);
}

.alert .close {
  float: right;
  padding-top: 5px;
  margin: 3px 12px 0px 0px;
  cursor: pointer;
}
.icon-remove {
	width: 90%;
	font-size: 13px;
}
.alert .inner,.alert .close {
  color: rgb(88,88,88);
}

.alert input {
  display: none;
}

.alert input:checked ~ * {
  animation-name: dismiss,hide;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 0s,100ms;
}

.alert.success .inner {
  border: 1px solid rgb(214,233,198);
  background-color: rgb(223,240,216);
}

.alert.success .inner,.alert.success .close {
	font-size: 13px;
  color: rgb(70,136,71);
}

@keyframes dismiss {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
    font-size: 0.1px;
    transform: scale(0);
  }
}

@keyframes hide {
  100% {
    height: 0px;
    width: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
}

#video_overlays > img {
	display: none;
}
#player{
    	
}

/*Media Queries for Tablets Vertical View*/
@media only screen and (max-width: 1050px) {
	body {
		background: white;
		overflow-y: auto;
	}
	section {
		background-color: white;
        max-width: 80%;
        margin: auto;
    }
    .hero-container {
    	/*background-color: grey;*/
    	display: flex;
    	padding-top: 5em;
    	justify-content: center;
    }
	.hero-wrapper {
		max-width: 100%;
		/*background-color: orange;*/
		flex-direction: column;
		justify-content: center;
	}
	.hero-txt {
		/*background-color: blue;*/
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 100%;
	}
	.hero-txt h1 {
		font-size: 110px;
		width: 110%;
		text-align: center;
	}
	.hero-txt p {
		width: 95%;
		font-size: 160%;
		text-align: center;
	}
	.hero-txt-btn {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.hero-txt a {
		padding: 25px 35px;
		margin-top: 1em;
		font-size: 160%;
	}
	#request {
		padding: 25px 65px;
		width: 60%;
		margin-left: 0;
	}	
	.hero-media {
		display: none;
	}
	.flash-msg {
		margin-top: 0;
	}
	.alert {
		width: 80%;
	}
}


/* Media Queries for Mobile Phones */
@media only screen and (max-width: 450px) {
	body {
		overflow-y: auto;
	}
	section {
		padding: 45px 0 0 0;
	}
	.hero-txt h1 {
		width: 107%;
		font-size: 50px;
	}
	.hero-txt p {
		width: 90%;
		font-size: 122%;
	}
	.hero-txt a {
		padding: 20px 30px;
		font-size: 121%;
	}
	#request {
		padding: 20px 65px;
		width: 53%;
	}
	.flash-msg {
		margin-top: 0;
	}
	.alert {
		width: 80%;
	}
}